$primary: #37c

$enable-shadows: true
$enable-gradients: true

$popover-max-width: 50vw

$mark-padding: 0

@import "node_modules/bootstrap/scss/bootstrap"

$modal-content-box-shadow-xs: $box-shadow-lg

//noinspection CssUnknownProperty
*
	scrollbar-color: #888 transparent
	scrollbar-width: thin

::-webkit-scrollbar
	background-color: transparent
	width: 6px
	height: 6px

::-webkit-scrollbar-thumb
	background-color: #888
	border-radius: 1ex

.min-h-0
	min-height: 0

.min-w-0
	min-width: 0

.max-h-100
	max-height: 100%

.flex-1
	flex: 1

img
	min-height: 0
	align-self: flex-start

:is(h1, h2, h3, h4, h5):not(:first-child)
	margin-top: 1.2em

.btn
	@extend .d-flex
	@extend .align-items-center

.btn:disabled
	cursor: not-allowed
	pointer-events: initial

::placeholder
	font-style: italic

details > summary
	cursor: pointer

.vstack:is(.gap-1, .gap-2, .gap-3) > p
	margin-bottom: 0

.popover
	overflow: hidden

	.popover-body
		overflow: auto

.tooltip-arrow::before
	transform: translateX(-50%)

.cm-editor
	max-height: 100%
	border-radius: $input-border-radius
	border: $input-border-width solid $input-border-color
	overflow: hidden

	&.cm-focused
		border-color: $input-focus-border-color
		box-shadow: $input-focus-box-shadow
		outline: none !important

	.cm-content
		font-family: var(--bs-font-monospace) !important

.cm-scroller
	overflow: auto

.diff-changed
	background-color: $yellow-100
	color: $yellow-600

.diff-deleted
	background-color: $red-100
	color: $red-600

form.grid
	@extend .d-grid
	@extend .gap-2
	grid-template-columns: min-content auto

.material-symbols-outlined
	font-size: 1.3rem

// Animation for "Copied!" message when clicking on copy buttons.
@keyframes ghost-up
	from
		opacity: 1
		transform: translateY(-.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(-5em) scale(2.5)

@keyframes ghost-dn
	from
		opacity: 1
		transform: translateY(.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(5em) scale(2.5)

.hover-fade
	opacity: .3
	@media (prefers-reduced-motion: no-preference)
		transition: opacity .2s ease-in-out

	&:hover
		opacity: .8

	&:active
		opacity: 1
