$blue: #37c

$enable-shadows: true
$enable-gradients: true
$color-mode-type: media-query

$popover-max-width: 50vw

@import "node_modules/bootstrap/scss/bootstrap"

$modal-content-box-shadow-xs: $box-shadow-lg

$selection-light: $cyan-200
$selection-dark: $cyan-800

@mixin ld($prop, $light, $dark)
	#{$prop}: $light
	+color-mode(dark)
		#{$prop}: $dark

//noinspection CssUnknownProperty
*
	scrollbar-color: #888 transparent
	scrollbar-width: thin

::-webkit-scrollbar
	background-color: transparent
	width: 6px
	height: 6px

::-webkit-scrollbar-thumb
	background-color: #888
	border-radius: 1ex

::selection
	+ld(background-color, $selection-light, $selection-dark)
	color: var(--bs-body-color)

kbd
	// Default Bootstrap styling is too attention-grabbing.
	// See https://getbootstrap.com/docs/5.3/content/reboot/#user-input.
	color: var(--bs-secondary-color)
	background-color: var(--bs-secondary-bg)

.min-h-0
	min-height: 0

.min-w-0
	min-width: 0

.max-h-100
	max-height: 100%

.flex-1
	flex: 1

img
	min-height: 0
	align-self: flex-start

:is(h1, h2, h3, h4, h5):not(:first-child)
	margin-top: 1.2em

.btn
	@extend .d-flex
	@extend .align-items-center

.btn:disabled
	cursor: not-allowed
	pointer-events: initial

::placeholder
	font-style: italic

details > summary
	cursor: pointer

.vstack:is(.gap-1, .gap-2, .gap-3) > p
	margin-bottom: 0

.popover
	overflow: hidden

	.popover-body
		overflow: auto

.tooltip-arrow::before
	transform: translateX(-50%)

.copyable-text
	cursor: pointer
	@extend .d-inline-flex, .align-items-center, .gap-1

	&:hover
		@extend .text-primary

.ws-pre
	white-space: pre

.cm-editor
	max-height: 100%
	border-radius: $input-border-radius
	border: $input-border-width solid $input-border-color
	overflow: hidden

	&.cm-focused
		border-color: $input-focus-border-color
		box-shadow: $input-focus-box-shadow
		outline: none !important

	.cm-content
		font-family: var(--bs-font-monospace) !important

.cm-scroller
	overflow: auto

.diff-changed
	background-color: $yellow-100
	color: $yellow-600

.diff-deleted
	background-color: $red-100
	color: $red-600

form.grid
	@extend .d-grid, .gap-2
	grid-template-columns: min-content auto

.material-symbols-outlined
	font-size: 1.3rem

// Animation for "Copied!" message when clicking on copy buttons.
@keyframes ghost-up
	from
		opacity: 1
		transform: translateY(-.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(-5em) scale(2.5)

@keyframes ghost-dn
	from
		opacity: 1
		transform: translateY(.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(5em) scale(2.5)

.hover-fade
	opacity: .3
	@media (prefers-reduced-motion: no-preference)
		transition: opacity .2s ease-in-out

	&:hover
		opacity: .8

	&:active
		opacity: 1


// CodeMirror theme and syntax highlighting.
.cm-editor, .cm-view
	color: var(--bs-body-color)
	background-color: var(--bs-body-bg)

	&.fit-size
		flex: 1
		min-height: 0

		.cm-scroller
			min-width: 0

	.cm-content
		caret-color: var(--bs-body-color)

	.cm-cursor, .cm-dropCursor
		border-left-color: var(--bs-body-color)

	&.cm-focused .cm-selectionBackground, .cm-selectionBackground, .cm-content ::selection
		+ld(background-color, $selection-light, $selection-dark)

	.cm-panels
		// The Find panel UI, etc.
		background-color: var(--bs-secondary-bg)
		color: var(--bs-secondary-color)
		border: none
		@extend .shadow

		.cm-button
			@extend .btn, .btn-sm, .btn-secondary, .d-inline-flex

		.cm-textfield
			@extend .form-control, .form-control-sm, .d-inline, .w-auto

	.cm-searchMatch
		background-color: var(--bs-info-bg-subtle)
		outline: 1px solid var(--bs-info)
		border-radius: 2px

		&.cm-searchMatch-selected
			+ld(background-color, $cyan-200, $cyan-800)
			outline-width: 3px
			color: var(--bs-body-color)

	.cm-selectionMatch
		+ld(background-color, $gray-200, $gray-800)

	&.cm-focused .cm-matchingBracket
		+ld(background-color, $green-200, $green-700)
		color: var(--bs-body-color)

	.cm-gutters
		+ld(background-color, $gray-200, $gray-800)
		border: none

	.cm-activeLineGutter
		+ld(background-color, $yellow-100, $yellow-900)

	.cm-activeLine
		+ld(background-color, tint-color($yellow-100, 40%), $yellow-900)

	.cm-foldPlaceholder
		+ld(background-color, $cyan-200, $cyan-800)
		border: none

	.h-keyword
		color: $teal-600

	.h-number
		color: $blue-500

	.h-tag
		+ld(color, $purple-500, $purple-300)

	.h-string
		color: $orange-600

	.h-comment
		color: $gray-500
		font-style: italic

	.h-invalid
		border-bottom: 1px dotted $red-500
