$primary: #37c

$enable-shadows: true
$enable-gradients: true

$popover-max-width: 50vw

@import "node_modules/bootstrap/scss/bootstrap"

*
	scrollbar-color: #888 transparent
	scrollbar-width: thin

.min-h-0
	min-height: 0

.flex-1
	flex: 1

img
	min-height: 0
	align-self: flex-start

:is(h1, h2, h3, h4, h5):not(:first-child)
	margin-top: 1.2em

.btn:disabled
	cursor: not-allowed
	pointer-events: initial

::placeholder
	font-style: italic

details > summary
	cursor: pointer

.popover
	overflow: hidden

	.popover-body
		overflow: auto

.cm-editor
	max-height: 100%
	overflow: auto
	flex: 1
	font-family: var(--bs-font-monospace)
	border-radius: $input-border-radius
	border: $input-border-width solid $input-border-color

	&.cm-focused
		border-color: $input-focus-border-color
		box-shadow: $input-focus-box-shadow
		outline: none !important

.cm-scroller
	overflow: auto

.diff-changed
	background-color: $yellow-100
	color: $yellow-600

.diff-deleted
	background-color: $red-100
	color: $red-600

// Animation for "Copied!" message when clicking on copy buttons.
@keyframes ghost-up
	from
		opacity: 1
		transform: translateY(-.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(-5em) scale(2.5)

@keyframes ghost-dn
	from
		opacity: 1
		transform: translateY(.5em) scale(1.5)
	to
		opacity: 0
		transform: translateY(5em) scale(2.5)
