node_modules

/.task
certs

dist
dist-prod
.parcel-cache
coverage

venv
__pycache__
.pytest_cache

intests/test-results
intests/playwright-report
intests/.cache
intests/docker-compose.yml

*.pem

*.iml
.idea

.DS_Store
