main {
	position: relative;

	& img {
		max-width: 100%;
		border: 2px solid currentColor;
		border-radius: 1px;
	}

	& .file-drag-mask {
		width: 100%;
		height: 100%;
		background-color: #0008;
		color: #fff;
		font-size: 1.4em;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
