@custom-media --dark (prefers-color-scheme: dark);

* {
	box-sizing: border-box;
}

.root {
	display: grid;
	grid-template: "h m" auto "s m" 1fr / 260px 1fr;

	& > * {
		overflow: auto;
	}

	& > nav {
		grid-area: h;
	}

	& > aside {
		grid-area: s;
	}

	& > main {
		grid-area: m;
	}
}

main {
	position: relative;

	& img {
		max-width: 100%;
		border: 2px solid currentColor;
		border-radius: 1px;
	}

	& .file-drag-mask {
		width: 100%;
		height: 100%;
		background-color: #0008;
		color: #fff;
		font-size: 1.4em;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

details > summary {
	cursor: pointer;
}

.mono {
	font-family: monospace;
	font-size: 1.1em;
}

.center {
	text-align: center;
}

.error {
	color: maroon;
	background: #fed;
	border: 1px solid currentColor;
	border-radius: 3px;
	padding: 6px 12px;
}

.flex-h {
	display: flex;
}

.flex-v {
	display: flex;
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.h100 {
	height: 100%;
}

.pa1 {
	padding: 6px;
}

.m0 {
	margin: 0;
}

.notebook {
	& .tabs {
		padding-left: 6px;

		& button {
			border-radius: 3px 3px 0 0;
			border: none;
			background-image: none;
			padding: 6px 9px;

			&.active {
				background-color: #222;
				color: #fff;
			}
		}

		& + * {
			margin-top: 0;
		}
	}
}

/* Animation for "Copied!" message when clicking on copy buttons. */
@keyframes ghost {
	from
	{
		opacity: 1;
		transform: scale(1.5);
	}
	to
	{
		opacity: 0;
		transform: translateY(-3em) scale(2.5);
	}
}
